<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" th:fragment="base(title, content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">WatchLux</title>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet">
    
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- CSS Main -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    
    <!-- Header per ADMIN autenticati -->
    <div th:if="${isAuthenticated and userDetails != null and userDetails.role.name() == 'ADMIN'}">
    	<header th:replace="fragments/admin-header.html :: intestazione"></header>
    </div>
	
	<div th:if="${!isAuthenticated or (isAuthenticated and userDetails != null and userDetails.role.name() == 'USER')}">
    	<header th:replace="fragments/header.html :: intestazione"></header>
    </div>
    
    
    
    
    <!-- Main Content -->
    <main th:replace="${content}">
        <!-- Il contenuto della pagina verrà inserito qui -->
    </main>
    
    <!-- Footer (opzionale per il futuro) -->
    <!-- <footer th:replace="fragments/footer.html :: piede"></footer> -->
</body>
</html>