<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Placed Order</title>
		<link rel="stylesheet" href="/style.css?version=2">
		
	</head>
	<body>
	
		<div><a th:href="@{/}">torna al menu</a></div>

        <div><a th:href="@{/}">torna al menu</a></div>
		<div th:if="${#lists.isEmpty(orderLines)}">Non ci sono orologi nel sistema</div>
		
		<div th:if="${!#lists.isEmpty(orderLines)}">
			<ul th:if="${!#lists.isEmpty(orderLines)}">
				<li th:each="orderLine : ${orderLines}">
					<p><a th:href="@{'/watch/' + ${orderLine.watch.id}}" th:text="${orderLine.watch.name}"></a></p>
                    <p>quantità: <span th:text="${orderLine.quantity}"></span></p>
				</li>
			</ul>
		</div>

	</body>
	
	
</html>